input{
    border: none;
    width: 70%;
    text-align: right;
    cursor: auto;
}
input:focus{
    outline: none;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-animation {
    text-align: center;
}

.loading-animation img {
    display: block;
    margin: 0 auto;
}
